@import url('https://gibbu.github.io/BetterDiscord-Themes/MinimalCord/base.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/addons/bottomhsl.css');

:root {
  --accent: #ac8a8c;
  --search-results-width: 25vw;
  --emoji-picker-height: 260px;
  --chat-message-padding: 20px;
  --chat-message-spacing: 10px;
  --font: 'Open Sans';
  --HSL-server-icon-size: 25px;
  --HSL-server-spacing: 15px;
  
  
  --foreground-1: #191919;
  --foreground-2: #191919;
  --foreground-divider: #d9d9d9;
  --background-1: #050505;
  --background-2: #0f0f0f;
  --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  --scrollbar: #ac8a8c;
  --tooltips: #0f0f0f;
  --pages-box: var(--message-box);
  --pages-box-footer: #191919;
  --pages-separator: rgba(255, 255, 255, 0.05);
  --user-popout: var(--dropdown);
  --user-popout-body: #222222;
  --user-popout-message: #2c2c2c;
  --settings-box: var(--message-box);
  --settings-box-hover: #191919;
  --settings-box-footer: #222222;
  --settings-input: #191919;
  --settings-paginator: rgba(0, 0, 0, 0.2);
  --settings-separator: rgba(255, 255, 255, 0.05);
  --dropdown: #0f0f0f;
  --dropdown-header: #2c2c2c;
  --dropdown-item-hover: #222222;
  --message-box: #0a0a0a;
  --message-box-divider: red;
  --message-embed: #191919;
  --message-button: #2c2c2c;
  --server-background: #0f0f0f;
  --server-hovered: #222222;
  --server-selected: #2c2c2c;
  --server-folders: var(--server-background);
  --search-filter-hover: #22262d;
  --search-result-header: #0f0f0f;
  --channel-hovered-bg: #0f0f0f;
  --channel-selected-bg: #191919;
  --channel-unread-bg: transparent;
  --channel-selected-text: var(--text-1);
  --channel-unread-text: var(--text-2);
  --channel-muted-text: var(--text-dark);
  --channel-hovered-text: var(--text-1);
  --modal-connection: var(--background-1);
  --modal-list: #15171c;
  --modal-badge-invert: invert(0);
  --modal-bg1-search: var(--search-filter-hover);
  --text-1: #f0f0f0;
  --text-2: #e7e7e7;
  --text-3: #d9d9d9;
  --text-4: #888888;
  --text-dark: #4c4c4c;
  
  
}
